.moonlight,
.start {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  /* background-attachment: fixed; */
}

.moonlight {
  min-width: 60vw;
  min-height: 60vw;
  width: 700px;
  left: 0px;
  background-image: url('./img/moonlight.svg');
  top: 0px;
}

.start {
  width: 100vw;
  height: 80vw;
  top: 10vh;
  background-image: url('./img/star.svg');
  left: 0px;
}
