.moonlight,
.start {
  position: absolute;
  /* border-radius: 5px; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.moonlight {
  min-width: 60vw;
  min-height: 60vw;
  width: 700px;
  left: 0px;
  background-image: url('./img/moonlight.svg');
  z-index: -1;
  top: 5;
}

.start {
  width: 100vw;
  height: 80vw;
  top: 0;
  background-image: url('./img/star.svg');
  z-index: -1;
}
